div{
    width: 350px;
    height:200px;
    margin: 100px 0px 0px 100px;
    border-radius:30% 50% 10% 10%;
    background-color:rgb(66, 34, 143);
}
img{
    width:100px;
    height:100px;
    margin: -40px 0px 0px 115px;
}
img{
    -webkit-animation: 'rotatel' 3s linear infinite;
    animation: 'rotatel' 3s linear infinite;
}

@-webkit-keyframes rotatel{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes rotatel{
    from{tranform:rotate(0deg);}
    to{transform:rotate(360deg);}
}